
.header{
    position:fixed;
    max-width: 4400px;
    display:flex;
    z-index: 2;
    background-color: white;
    justify-content: space-between;
}
.container{
    
    display:flex;
    justify-content: right;
    align-items: center;
    gap:20px;
    padding: 0px 10px 0px 10px;
    flex-direction: row;
    right: 10%;
    width:1500px;
    margin-left: 50px;
}
.header1{
    font-size: 25px;
    width: 100px;
    padding-right: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.logo{
    display:flex;
    align-items: center;
    margin: 10px 0px 5px 10px;
}
.container > button{
    margin-top: 20px;
    display: flex;
}
.page-content-portfolio{
    padding: 100px 25px 25px 25px;
}
.heading1{
    font-size: 50px;
    padding-bottom: 10px;
    font-weight: 400px;
}
.portfolioson{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    
}
.card{
    display:flex;
    margin: 0px 25px 25px 0px;
    
}
li{
    list-style-type: none;
}
.page-content-index{

    padding-top: 65px;
}

.pic-container {

    height:600px;
    width: 1310px;
    background: #2199e9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(137, 225, 236), rgb(15, 127, 161));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(137, 225, 236), rgb(15, 127, 161));

    position: relative;
    text-align: center;
    color: white;

}

.text-img {
    position: absolute;
    text-align: left;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -50%);
    font-size: 5rem;
    font-weight: 800;
    margin-left: 30px;
}

.text-img1 {
    position: absolute;
    text-align: left;
    top: 62%;
    left: 11%;
    transform: translate(-10%, -50%);
    font-size: 2rem;
    font-weight: 600;
    margin-left: 30px;
}
.talent-introduction{
    display: grid;
    grid-template-columns: 1310px;
    grid-template-rows: 450px;
}

.registration-details {
    color:blue;
    height:400px;
    width: 1310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.registration-form-box{
    height:800px;
    width: 1310px;
    background: #2199e9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(137, 225, 236), rgb(15, 127, 161));
    
    background: linear-gradient(to bottom right, rgb(137, 225, 236), rgb(15, 127, 161));
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.registration-form{

    display: grid;
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid grey 1px;
    grid-template-columns: 185px 185px;
    grid-template-rows: 50px repeat(6 91px);
    gap: 15px;
}

.registration-form > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.talent-introduction-box1{
    height:475px;
    width: 1310px;
    background: #2199e9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top right, rgb(137, 225, 236), rgb(15, 127, 161));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top right, rgb(137, 225, 236), rgb(15, 127, 161));
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#blue-wave{
    position: absolute;
    z-index: 1;
    top: 80%;
}
